- var options = htmlWebpackPlugin.options || {}
- var files = htmlWebpackPlugin.files || {}

- var lang = options.lang || "zh-Hant"
- var mobile = options.mobile || true
- var chunks = files.chunks || {}
- var css = files.css || []
- var title = options.title || ''
- var appMountId = options.appMountId || 'root'

doctype html
html(lang=lang)
  head
    meta(charset="utf8")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#3d5476")
    meta(name="msapplication-TileColor" content="#3d5476")
    meta(name="theme-color" content="#3d5476")
    if mobile
      meta(name="viewport" content="user-scalable=0, initial-scale=1, minimum-scale=1, width=device-width, height=device-height")
    title=title
    each val in css
      link(href=val rel="stylesheet" type="text/css")
  body
    if appMountId
      div(id=appMountId)
    each val, index in chunks
      script(src=val.entry type="text/javascript")
